<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>liefbase</title>

    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/fonts.css') }}" rel="stylesheet">
    {% block extracss %}
    {% endblock %}
    <link rel="shortcut icon" href="">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/widgets.js') }}"></script>
    <script src="{{ url_for('static', filename='js/svgmagic.js') }}"></script>
    <script src="{{ url_for('static', filename='js/feather.min.js') }}"></script>
    {% block extrajs %}
    {% endblock %}
    <!-- Info displayed when site it shared/linked -->
    <meta property="og:url"           content="" />
    <meta property="og:type"          content="" />
    <meta property="og:title"         content="" />
    <meta property="og:description"   content="" />
  </head>

  <body>
    {% block content %}

    {% block header %}
    {% endblock %}

    {% endblock %}

    <div class="footer-container">
      <div class="footer">
        <div class="footer-top">
          <img class="footer-logo" src="">
          <div class="footer-links">
            <div class="footer-link-column">
              <a class="footer-link standard-text-lg" href="/">Product</a>
              <a class="footer-link standard-text-lg" href="{{ url_for('donate') }}">Donate</a>
            </div>
            <div class="footer-link-column">
              <a class="footer-link standard-text-lg" href="{{ url_for('about') }}">About</a>
              <a class="footer-link standard-text-lg" href="{{ url_for('contact', demo=0) }}">Contact</a>
              <a class="footer-link standard-text-lg" href="{{ url_for('contact', demo=1) }}">Request a Demo</a>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="footer-socials">
            <img class="footer-social" src="../static/img/twitter.svg">
            <img class="footer-social" src="">
            <img class="footer-social" src="">
          </div>
          <div class="footer-copyrights">
            <p class="footer-copyright sub-title-lg">&copy; Liefbase Inc</p>
          </div>
        </div>
      </div>
    </div>

    <script>
      feather.replace()
    </script>
  </body>

</html>
