{% extends "base.html" %}

{% block extracss %}
<link href="{{ url_for('static', filename='css/donate.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div>
    {% block header %}
    <div class="header">
      <div class="header-left">
        <a href="/"><p class="header-branding">liefbase</p></a>
      </div>

      <div class="header-right header-inline-menu">
        <a href="{{ url_for('about') }}"><p class="header-option">{{ _('About') }}</p></a>
        <a href="{{ url_for('donate') }}"><p class="header-option header-donate">{{ _('Donate') }}</p></a>
      </div>
      <div id="hamburger-lines" class="header-right hamburger-toggle" onclick="showHamburger()">
        <i data-feather="align-justify"></i>
      </div>
      <div id="hamburger-menu">
        <span class="header-option">
          <img class="hamburger-logo" src="">
          <div id="hamburger-x" class="header-right hamburger-toggle" onclick="hideHamburger()">
            <i data-feather="x"></i>
          </div>
        </span>
        <a href="{{ url_for('about') }}"><span class="header-option">{{ _('About') }}</span></a>
        <a href="{{ url_for('donate') }}"><span class="header-option header-donate">{{ _('Donate') }}</span></a>
      </div>
    </div>
    {% endblock %}

    <div class="donate-body">
      <div class="donate-intro-container">
        <p class="header">{{ _('We appreciate your support!') }}</p>
        <p class="sub-header">{{ _('Liefbase is developing platforms to help communities and organizations around the world work together in times of stress. We believe that rather than charging all of our users to use the platform, we should instead give people the opportunity to donate and help others when they are in need. In disasters and relief efforts we are all on the same side and your donations help keep the Liefbase community growing and cohesive.') }}</p>
        <p class="sub-header">{{ _('Rest assured that the donations you make today may help get resources to people in need in times of stress.') }}</p>

        <p class="sub-header">{{ _('Thanks,') }}</p>

        <p class="sub-header">{{ _('The Liefbase Team') }}</p>
      </div>

    </div> <!-- End of donate-body -->
  </div>
{% endblock %}
