{% extends "base.html" %}

{% block extracss %}
<link href="{{ url_for('static', filename='css/donate.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div>
    {% block navbar %}
    <div class="navbar">
      <div class="navbar-left">
        <a href="/"><p class="navbar-branding">liefbase</p></a>
      </div>

      <div class="navbar-right navbar-inline-menu">
        <a href="{{ url_for('about') }}"><p class="navbar-option">{{ _('About') }}</p></a>
        <a href="{{ url_for('donate') }}"><p class="navbar-option navbar-donate">{{ _('Donate') }}</p></a>
      </div>
      <div id="hamburger-lines" class="navbar-right hamburger-toggle" onclick="showHamburger()">
        <i data-feather="align-justify"></i>
      </div>
      <div id="hamburger-menu">
        <span class="navbar-option">
          <img class="hamburger-logo" src="">
          <div id="hamburger-x" class="navbar-right hamburger-toggle" onclick="hideHamburger()">
            <i data-feather="x"></i>
          </div>
        </span>
        <a href="{{ url_for('about') }}"><span class="navbar-option">{{ _('About') }}</span></a>
        <a href="{{ url_for('donate') }}"><span class="navbar-option navbar-donate">{{ _('Donate') }}</span></a>
      </div>
    </div>
    {% endblock %}

    <div class="donate-body">
      <div class="donate-intro-container">
        <p class="header">{{ _('We appreciate your support!') }}</p>
        <p class="sub-header">{{ _('Liefbase is developing platforms to help communities and organizations around the world work together in times of stress. We believe that rather than charging all of our users to use the platform, we should instead give people the opportunity to donate and help others when they are in need. In disasters and relief efforts we are all on the same side and your donations help keep the Liefbase community growing and cohesive.') }}</p>
        </br>
        <p class="sub-header">{{ _('Rest assured that the donations you make today may help get resources to people in need in times of stress.') }}</p>
        </br>

        <div class="donate-buttons">
          <div class="donate-button-container">
            <a class="donate-button button" href="https://www.patreon.com/Liefbase">{{ _('JOIN OUR COMMUNITY') }}</a>
          </div><div class="donate-button-container">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="UAL696X8PL67G">
            <input type="image" class="donate-button button" src="http://imagelocation" border="0" name="submit" value="{{ _('DONATE') }}">
            </form>
          </div>
        </div>

        </br>
        <p class="sub-header">{{ _('Thanks,') }}</p>
        </br>
        <p class="sub-header">{{ _('The Liefbase Team') }}</p>
      </div>

    </div> <!-- End of donate-body -->
  </div>
{% endblock %}
