{% extends "base.html" %}

{% block content %}
  <div>
    <div class="landing-bg">
    </div>
    <div class="landing">
      {% block header %}
      <div class="header header-landing">
        <div class="header-left">
          <a href="/"><p class="header-branding">liefbase</p></a>
        </div>

        <div class="header-right header-inline-menu">
          <a href="{{ url_for('about') }}"><p class="header-option">{{ _('About') }}</p></a>
          <a href="{{ url_for('donate') }}"><p class="header-option header-donate">{{ _('Donate') }}</p></a>
        </div>
        <div id="hamburger-lines" class="header-right hamburger-toggle" onclick="showHamburger()">
          <i data-feather="align-justify"></i>
        </div>
        <div id="hamburger-menu">
          <span class="header-option">
            <img class="hamburger-logo" src="">
            <div id="hamburger-x" class="header-right hamburger-toggle" onclick="hideHamburger()">
              <i data-feather="x"></i>
            </div>
          </span>
          <a href="{{ url_for('about') }}"><span class="header-option">{{ _('About') }}</span></a>
          <a href="{{ url_for('donate') }}"><span class="header-option header-donate">{{ _('Donate') }}</span></a>
        </div>
      </div>
      {% endblock %}

      <div class="landing-body">
        <p class="slogan">{{ _('Your headquarters for managing relief efforts') }}</p>
        <p class="slogan-sub">{{ _('A communication and collaboration platform for disaster relief and humanitarian relief efforts.') }}</p>

        <a href="{{ url_for('contact', demo=1) }}"><div class="demo-signup button">{{ _('REQUEST A DEMO') }}</div></a>
      </div> <!-- End of landing-body -->
    </div>


  <div class="products-body">

    <p class="platform-description standard-text">placeholder</p>

    <p class="platform-header section-header">{{ _('Features') }}</p>

    <div class="platform-points">
      <div class="platform-point">
        <div class="platform-point-inner">
          <i class="point-icon" data-feather="filter"></i>
          <p class="point-title feature-title">{{ _('Filtering') }}</p>
          <p class="point-description sub-title">{{ _('Users can easily choose what layers or pieces of information they would like to see at any given moment.') }}</p>
        </div>
      </div>

      <div class="platform-point">
        <div class="platform-point-inner">
          <i class="point-icon" data-feather="edit-2"></i>
          <p class="point-title feature-title">{{ _('Customizable Functionality') }}</p>
          <p class="point-description sub-title">{{ _('Users can customize their experience by creating custom map information, saving past searches, and more.') }}</p>
        </div>
      </div>

      <div class="platform-point">
        <div class="platform-point-inner">
          <i class="point-icon" data-feather="map"></i>
          <p class="point-title feature-title">{{ _('Real Time Updating') }}</p>
          <p class="point-description sub-title">{{ _('Online maps will update automatically, in real-time, as users add new information.') }}</p>
        </div>
      </div>

      <div class="platform-point">
        <div class="platform-point-inner">
          <i class="point-icon" data-feather="users"></i>
          <p class="point-title feature-title">{{ _('Public Input') }}</p>
          <p class="point-description sub-title">{{ _('The public can supply information and support to others before and after organizational help arrives.') }}</p>
        </div>
      </div>
    </div>

    <p class="platform-header section-header">{{ _('Future Plans') }}</p>

    <div class="platform-points">
      <div class="platform-point">
        <div class="platform-point-inner">
          <i class="point-icon" data-feather="link-2"></i>
          <p class="point-title feature-title">{{ _('Shared Environments') }}</p>
          <p class="point-description sub-title">{{ _('Organizations will be able to manage their own maps or choose to share and collaborate with other stakeholders.') }}</p>
        </div>
      </div>

      <div class="platform-point">
        <div class="platform-point-inner">
          <i class="point-icon" data-feather="wifi-off"></i>
          <p class="point-title feature-title">{{ _('Offline Support') }}</p>
          <p class="point-description sub-title">{{ _('Users will be able to export and print maps for offline support in relief zones.') }}</p>
        </div>
      </div>

      <div class="platform-point">
        <div class="platform-point-inner">
          <i class="point-icon" data-feather="file"></i>
          <p class="point-title feature-title">{{ _('Report Generation') }}</p>
          <p class="point-description sub-title">{{ _('Users will be able to generate reports summarizing the efforts made in relief efforts.') }}</p>
        </div>
      </div>

      <div class="platform-point">
        <div class="platform-point-inner">
          <i class="point-icon" data-feather="upload"></i>
          <p class="point-title feature-title">{{ _('Legacy Imports') }}</p>
          <p class="point-description sub-title">{{ _('Organizations will be able to import their pre-existing map data.') }}</p>
        </div>
      </div>

      <div class="platform-point">
        <div class="platform-point-inner">
          <i class="point-icon"  data-feather="user-x"></i>
          <p class="point-title feature-title">{{ _('Custom Access') }}</p>
          <p class="point-description sub-title">{{ _('Users will be able to assign custom viewing and editing access to individuals, teams and organizations.') }}</p>
        </div>
      </div>
    </div>

  </div> <!-- end of products body -->

  <div class="demo-container">
    <div class="demo-block">
      <p class="demo-ready section-header">{{ _('Ready for a Demo?') }}</p>
      <p class="demo-body sub-header">{{ _('Developing a platform that meets the needs and requirements of our customers is our number one priority. Contact us for a demo so that we can let you know what our plans are and you can help us shape the future platform.') }}</p>
      <a href="{{ url_for('contact', demo=1) }}"><div class="demo-signup-bot button-intra">{{ _('REQUEST A DEMO') }}</div></a>
    </div>
  </div>

  </div>
{% endblock %}
