{% extends "base.html" %}

{% block content %}
  <div>
    <div class="landing-bg">
    </div>
    <div class="landing">
      {% block header %}
      <div class="header">
        <div class="header-left">
          <a href="/"><p class="header-branding header-landing">liefbase</p></a>
        </div>

        <div class="header-right">
          <a href="{{ url_for('donate') }}"><p class="header-option header-landing">{{ _('Donate') }}</p></a>
          <a href="{{ url_for('about') }}"><p class="header-option header-landing">{{ _('About') }}</p></a>
          <a href="{{ url_for('contact', demo=0) }}"><p class="header-option header-landing">{{ _('Contact') }}</p></a>
        </div>
      </div>
      {% endblock %}

      <div class="landing-body">
        <p class="slogan">{{ _('Your hub for managing relief efforts') }}</p>
        <p class="slogan-sub">{{ _('A communication and collaboration platform for disaster relief and humanitarian relief efforts.') }}</p>

        <a href="{{ url_for('contact', demo=1) }}"><div class="demo-signup button">{{ _('REQUEST A DEMO') }}</div></a>
      </div> <!-- End of landing-body -->
    </div>


  <div class="products-body">

    <p class="platform-description standard-text">
      {{ _('Liefbase is a communication and collaboration platform designed to help disaster relief organizations better manage and share information during relief efforts.') }}
    </p>

    <p class="platform-header section-header">{{ _('Features') }}</p>

    <div class="platform-points">
      <div class="platform-point">
        <div class="platform-point-inner">
          <p class="point-title feature-title">{{ _('FILTERING') }}</p>
          <p class="point-description standard-text">{{ _('Users can easily choose what layers or pieces of information they would like to see at any given moment.') }}</p>
        </div>
      </div>

      <div class="platform-point">
        <div class="platform-point-inner">
          <p class="point-title feature-title">{{ _('CUSTOMIZABLE FUNCTIONALITY') }}</p>
          <p class="point-description standard-text">{{ _('Users can customize their experience by creating custom map information, saving past searches, and more.') }}</p>
        </div>
      </div>

      <div class="platform-point">
        <div class="platform-point-inner">
          <p class="point-title feature-title">{{ _('REAL TIME UPDATING') }}</p>
          <p class="point-description standard-text">{{ _('Online maps will update automatically, in real-time, as users add new information.') }}</p>
        </div>
      </div>

      <div class="platform-point">
        <div class="platform-point-inner">
          <p class="point-title feature-title">{{ _('PUBLIC INPUT') }}</p>
          <p class="point-description standard-text">{{ _('The public can supply information and support to others before and after organizational help arrives.') }}</p>
        </div>
      </div>
    </div>

    <p class="platform-header section-header">{{ _('Coming Soon') }}</p>

    <div class="platform-points">
      <div class="platform-point">
        <div class="platform-point-inner">
          <p class="point-title feature-title">{{ _('SHARED ENVIRONMENTS') }}</p>
          <p class="point-description standard-text">{{ _('Organizations will be able to manage their own maps or choose to share and collaborate with other stakeholders.') }}</p>
        </div>
      </div>

      <div class="platform-point">
        <div class="platform-point-inner">
          <p class="point-title feature-title">{{ _('REPORT GENERATION') }}</p>
          <p class="point-description standard-text">{{ _('Users will be able to generate reports summarizing the efforts made in relief efforts.') }}</p>
        </div>
      </div>

      <div class="platform-point">
        <div class="platform-point-inner">
          <p class="point-title feature-title">{{ _('OFFLINE SUPPORT') }}</p>
          <p class="point-description standard-text">{{ _('Users will be able to export and print maps for offline support in relief zones.') }}</p>
        </div>
      </div>

      <div class="platform-point">
        <div class="platform-point-inner">
          <p class="point-title feature-title">{{ _('CUSTOM ACCESS') }}</p>
          <p class="point-description standard-text">{{ _('Users will be able to assign custom viewing and editing access to individuals, teams and organizations.') }}</p>
        </div>
      </div>

      <div class="platform-point">
        <div class="platform-point-inner">
          <p class="point-title feature-title">{{ _('LEGACY IMPORTS') }}</p>
          <p class="point-description standard-text">{{ _('Organizations will be able to import their pre-existing map data.') }}</p>
        </div>
      </div>
    </div>

    <p class="platform-title section-header">{{ _('Future Plans') }}</p>

    <p class="platform-description sub-header">
      {{ _('In the near future we would like to begin development on mobile applications for offline support, data collection, and communication.') }}
    </p>

  </div> <!-- end of products body -->

  <div class="demo-container">
    <p class="demo-title section-header">{{ _('Request a Demo') }}</p>

    <p class="demo-body sub-header">{{ _('Developing a platform that meets the needs and requirements of our customers is our number one priority. Contact us for a demo so that we can let you know what our plans are and you can help us shape the future platform.') }}</p>

    <div class="demo-block">
      <p class="demo-ready section-header">{{ _('Ready for a Demo?') }}</p>
      <a href="{{ url_for('contact', demo=1) }}"><div class="demo-signup-bot button-intra">{{ _('REQUEST A DEMO') }}</div></a>
    </div>
  </div>

  </div>
{% endblock %}
