.profile-container {
  overflow: hidden;
  text-align: center;
}
.profile-inner {
  margin: auto;
  padding: 12px 0;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  box-shadow: 0 1px 6px rgba(105, 105, 105, .25);
}
.profile-text {
  position: relative;
  bottom: -6px;
  padding: 0 0 0 12px;
}

.profile p {
  margin: 0;
}
.profile {
  display: inline-block;
}

.value-image {
  display: inline-block;
  margin-bottom: -5px;
  margin-right: 7px;
}

.profile-container-title {
  text-align: left;
}

.value {
  padding: 40px;
  background-color: white;
  margin-bottom: 40px;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(105, 105, 105, .25);
}
.value-image {
  color: #2159F9;
}
.value-title {
  display: inline-block;
}

.values-title {
  margin-bottom: 50px;
}

.request-a-demo {
  margin-top: 15px;
  position: relative;
}

.contact-description {
  margin-bottom: 12px;
}

@media only screen and (min-width : 902px) {
  .value:nth-child(even) {
    margin-right: 40%;
  }
  .value:nth-child(odd) {
    margin-left: 40%;
  }
  .profile {
    width: 33%;
    padding-bottom: 30px;
  }
    .profile-bottom {
        padding: 0px;
    }
    
  .profile p {
    text-align: left;
  }
    
  .profile-name {
    padding-top: 12px;
    padding-bottom: 2px;
  }

  .profile-image,
  .profile-text {
    float: left;
  }

  .lead {
    display: none;
  }

  .request-a-demo {
    display: inline-block;
  }
}

@media only screen and (min-width: 580px) and (max-width : 901px) {
  .value:nth-child(even) {
    margin-right: 20%;
  }
  .value:nth-child(odd) {
    margin-left: 20%;
  }
  .profile {
    width: 49%;
  }
  .profile p {
    text-align: left;
  }

  .profile-image,
  .profile-text {
    float: left;
  }
  
  .profile-text {
    padding-top: 12px;
    padding-bottom: 2px;
  }

  .lead {
    display: none;
  }

  .request-a-demo {
    display: inline-block;
  }
}

@media only screen and (max-width : 579px) {
  .value:nth-child(even) {
    margin-right: 0;
  }
  .value:nth-child(odd) {
    margin-left: 0;
  }
	.profile {
    width: 49%;
  }
  .profile p {
    text-align: center;
  }

  .team-lead {
    display: none;
  }

  .request-a-demo {
    text-align: center;
    display: block;
		margin-top: 30px;
  }
  
  .profile-text {
     padding: 0 0 2px 0;
  }
    
  .profile-name {
     padding: 0 0 2px 0;
  }
}
