.contact-form {
  margin: auto;
  width: 100%;
  max-width: 700px;
  display: block;
  margin-bottom: 40px;
}

.contact-form-container {
  padding-top: 80px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  border-radius: 3px;
  margin: 0 0 6px 0;
}
.contact-form input {
  height: 50px;
}
.contact-form input#submit {
  height: auto;
  float: right;
}

.contact-form textarea {
  height: 260px;
}
.form-label {
  position: relative;
  bottom: -12px;
}

.flash {
  margin: 0 0 10px 0;
}

@media only screen and (min-width : 902px) {
  .contact-form input#submit {
    width: 110px;
    margin-right: -6px;
  }
}

@media only screen and (min-width: 580px) and (max-width : 901px) {
  .contact-form input#submit {
    width: 110px;
    margin-right: -6px;
  }
}

@media only screen and (max-width : 579px) {

}
