@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto-light';
  src: url('../font/Roboto-Light.ttf');
}
@font-face {
  font-family: 'Roboto-medium';
  src: url('../font/Roboto-Medium.ttf');
}

body {
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0;
}

.navbar-branding {
  font-family: 'Roboto';
  line-height: 48px;
  font-size: 24px;
  margin: 0;
  color: #2159F9;
}

.navbar-option {
  font-family: 'Roboto';
  font-size: 18px;
  margin: 0;
  padding: 0 10px;
  color: #2159F9;
}

.slogan {
  font-family: 'Roboto';
  font-size: 46px;
  color: white;
  margin-bottom: 0.8em;
}

.slogan-sub {
  font-family: 'Roboto-light';
  font-size: 28px;
  color: white;
  margin-bottom: 1.8em;
}

.footer-branding {
  font-family: 'Roboto';
  color: #2159F9;
  font-size: 20px;
}

.header {
  font-family: 'Roboto';
  color: #282828;
  font-size: 40px;
  margin: 70px 0 20px 0;
}
.sub-header {
  font-family: 'Roboto-light';
  color: #868686;
  font-size: 18px;
}
.body-text {
  font-family: 'Roboto-light';
  color: #868686;
  font-size: 18px;
}
.section-header {
  font-family: 'Roboto';
  color: #282828;
  font-size: 30px;
  margin: 70px 0 24px 0;
}

.intro-header {
  font-family: 'Roboto';
  color: #282828;
  font-size: 40px;
  padding-bottom: 20px;
}
.demo-header {
  font-family: 'Roboto';
  color: #282828;
  font-size: 40px;
}
.value-title {
  font-family: 'Roboto';
  color: #282828;
  font-size: 20px;
  padding-bottom: 10px;
}
.value-body {
  font-family: 'Roboto';
  color: #868686;
  font-size: 15px;
}
.title {
  font-family: 'Roboto';
  color: #282828;
  font-size: 18px;
}
.feature-title {
  font-family: 'Roboto';
  color: #282828;
  font-size: 18px;
}
.input-label,
label {
  font-family: 'Roboto-light';
  color: #282828;
  font-size: 16px;
}
.sub-title {
  font-family: 'Roboto-light';
  color: #868686;
  font-size: 15px;
}
.sub-title-lg {
  font-family: 'Roboto-light';
  color: #868686;
  font-size: 16px;
}
.standard-text {
  font-family: 'Roboto-Regular';
  color: #868686;
  font-size: 15px;
}
.standard-text-lg {
  font-family: 'Roboto-Regular';
  color: #868686;
  font-size: 16px;
}
.button {
  font-family: 'Roboto-medium';
  color: #2159F9;
  font-size: 14px;
}
.button-intra {
  font-family: 'Roboto-medium';
  color: white;
  font-size: 14px;
}
.error-message {
  font-family: 'Roboto';
  font-size: 16px;
  color: red;
}

.form-label {
  font-family: 'Roboto-light';
  color: #282828;
  font-size: 16px;
}

@media only screen and (min-width : 902px) {

}

@media only screen and (min-width: 580px) and (max-width : 901px) {

}

@media only screen and (max-width : 579px) {
	.slogan {
  	font-size: 36px;
	}

	.intro-header {
  	font-size: 36px;
	}
}
