body {
  margin: 0;
  overflow-x: hidden;
  background-color: #FBFBFB;
}

input {
  padding: 0 3px;
}

.landing-body,
.products-body,
.demo-container,
.footer,
.about-body,
.contact-body,
.donate-body {
  width: 90%;
  max-width: 900px;
  padding: 0 5% 0 5%;
  margin: auto;
}

.landing {
  height: 100vh;
  width: 100vw;
  background-color: #2159F9;
  -webkit-clip-path: polygon(0 0, 1600px 0, 1600px 80%, 0 100%);
  clip-path: polygon(0 0, 1600px 0, 1600px 80%, 0 100%);
}
.landing-bg {
  position: absolute;
  height: 98vh;
  width: 100vw;
  background-color: #658DFF;
  -webkit-clip-path: polygon(0 0, 1600px 0, 1600px 100%, 0 93%);
  clip-path: polygon(0 0, 1600px 0, 1600px 100%, 0 93%);
}

.header-right a:last-child p {
  padding: 0 0 0 5px;
}
.header {
  overflow: hidden;
}
.header-left p, .header-right p {
  display: inline-block;
}
.header-right {
  float: right;
  padding: 2% 5% 0 0;
}
.header-left {
  float: left;
  padding: 2% 0 0 5%;
}

.demo-signup {
  position: relative;
  display: inline-block;
  top: 54%;
  background-color: white;
  padding: 12px;
  border-radius: 3px;
}

.header-on {
  text-decoration: line-through;
}

.products-body {
  position: relative;
}
.platform-description {
  padding: 70px 0 70px 0;
}
.platform-points {
  display: table;
}
.platform-point {
  margin: 10px 0 10px 0;
  float: left;
  display: table-cell;
  height: 200px;
}
.platform-point-inner {
  margin: auto;
  padding: 12px 15px 12px 0;
  display: inline-block;
}

.demo-block {
  height: 250px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: white;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(105, 105, 105, .25);
}
.demo-ready {
  position: relative;
  top: 50px;
}
.demo-signup-bot {
  padding: 12px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  background-color: #2159F9;
  top: 60px;
}



@media only screen and (min-width : 902px) {
  .team-intro-container,
  .donate-intro-container,
  .contact-intro-container {
    padding: 30px 25% 40px 0;
  }
  .landing-body p {
    padding-right: 25%;
  }
  .platform-point {
    width: 33%;
  }
  .slogan {
    position: relative;
    margin-top: 18%;
  }
}

@media only screen and (min-width: 580px) and (max-width : 901px) {
  .team-intro-container,
  .donate-intro-container,
  .contact-intro-container {
    padding: 30px 0 40px 0;
  }
  .landing-body p {
    padding-right: 0;
  }
  .platform-point {
    width: 33%;
  }
  .slogan {
    position: relative;
    margin-top: 22%;
  }
}

@media only screen and (max-width : 579px) {
  .team-intro-container,
  .donate-intro-container,
  .contact-intro-container {
    padding: 15px 0 20px 0;
  }
  .landing-body p {
    padding-right: 0;
  }
  .platform-point {
    width: 49%;
  }
  .slogan {
    position: relative;
    margin-top: 25%;
  }
}
